.boxes-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    /* For mobile by default, boxes will stack */
    grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4"
        "box5"
        "box6"
        "box7"
        "box8"
        "box9"
        "box10"
        "box11"
        "box12"
        "box13"
        "box14"
        "box15"
        "box16"
        "box17"
        "box18"
        "box19"
        "box20"
        "box21"
        "box22"
        "box23"
        "box24"
        "box25"
        "box26"
        "box27"
        "box28"
        "box29"
        "box30";
}


@media (min-width: 768px) {
    .boxes-container{
        grid-template-columns: repeat(10, 1fr);
        /* Three columns to achieve your structure */
        grid-template-areas:
            "box1 box1 box1 box1 box1 box2 box2 box2 box2 box2"
            "box3 box3 box3 box3 box3 box3 box3 box4 box4 box4"
            "box5 box5 box5 box5 box5 box6 box6 box6 box6 box6"
            "box7 box7 box7 box7 box7 box7 box7 box8 box8 box8"
            "box9 box9 box9 box9 box9 box10 box10 box10 box10 box10"
            "box11 box11 box11 box11 box11 box11 box11 box12 box12 box12"
            "box13 box13 box13 box13 box13 box14 box14 box14 box14 box14"
            "box15 box15 box15 box15 box15 box15 box15 box16 box16 box16"
            "box17 box17 box17 box17 box17 box18 box18 box18 box18 box18"
            "box19 box19 box19 box19 box19 box19 box19 box20 box20 box20"
            "box21 box21 box21 box21 box21 box22 box22 box22 box22 box22"
            "box23 box23 box23 box23 box23 box23 box23 box24 box24 box24"
            "box25 box25 box25 box25 box25 box26 box26 box26 box26 box26"
            "box27 box27 box27 box27 box27 box27 box27 box28 box28 box28"
            "box29 box29 box29 box29 box29 box30 box30 box30 box30 box30"
            
    }
}

@media (min-width: 550px) {
    .boxes-container {
        grid-template-columns: 1 70% 30% 30% 70%;
        /* Custom column sizes for your boxes */
    }

    .single-box {
        grid-column: span 3;
        /* Box 1 will span 3 columns (all) */
    }

    .large-box {
        grid-column: span 2;
        /* 2 column span for 70% width */
    }

    .small-box {
        grid-column: span 1;
        /* 1 column span for 30% width */
    }
}


@media (min-width: 2000px) {
    .boxes-container{
        grid-template-columns: repeat(3, 1fr);
        /* Three columns to achieve your structure */
        grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9"
        "box10 box11 box12"
        "box13 box14 box15"
        "box16 box17 box18"
        "box19 box20 box21"
        "box22 box23 box24"
        "box25 box26 box27"
        "box28 box29 box30"

    }
}
#boxes_subtitle{
    font-size: 18px;
}