/* Compounding container styles */
.compounding {
    display: flex;
    flex-direction: column; /* Mobile-first: Start with a column layout */
    background-color: #eee;
}

/* Child div styles */
.child {
    width: 100%; /* Mobile-first: Full width for mobile devices */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(107, 109, 107, 0.746);
    margin: 10px; /* Use shorthand for margins */
}

/* Media query for tablet view */
@media screen and (min-width: 601px) {
    .compounding {
        flex-direction: row; /* For tablets and larger screens, switch to a row layout */
    }

    .child {
        width: 70%; /* Adjust child width for tablets */
    }
}

/* Media query for desktop view */
@media screen and (min-width: 841px) {
    .child {
        width: 50%; /* Adjust child width for desktops */
    }
}
