/* Global Styles */
.contact-link {
  color: #fdfcfc; /* Set your desired color here */
  text-decoration: none; /* Remove underline */
}

.footer-container {
  background-color: #a90b0b;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-logo {
  width: 100px;
  height: auto;
  background-color: #a90b0b; /* Set the background color to match the footer */
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
}

/* Override link styles */
.footer-column a {
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit text color from parent */
}

.footer-nav-list {
  list-style-type: none;
  padding: 0;
}

.footer-nav-list li {
  margin-bottom: 5px;
}

.copyright {
  text-align: center;
  padding: 20px;
  background: #616c4e;
  color: #fff;
  font-size: 19px;
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    margin: 10px 0;
  }

  .footer-logo {
    width: 80px;
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-nav-list {
    columns: 2;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  .footer-container {
    padding: 30px;
  }

  .footer-column {
    margin: 0 20px;
  }

  .footer-logo {
    width: 120px;
  }
}
.footer_location {
  margin: 1%;
}
