.header-container {
  display: flex;
  flex: 1 90%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: rgba(184, 3, 1, 0.7);
  margin: 20px;
  border-radius: 10px;
  /* border-color:  rgba(184, 3, 1, 0.7); */
  /* border-bottom: 10px; */
  /* border-width: 10px; */
}
.header_wrapper {
  display: flex;
  justify-content: space-evenly;
}
.logo {
  margin: 20px;
  max-height: 200px;
}
.logo_div {
  flex: 1 10%;
 
}
.nav-section {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
  position: relative;
  cursor: pointer;
  color: rgba(240, 234, 214, 1);
  text-align: center;
  font-weight: bold;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 15px;
  white-space: nowrap;
}
