.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #008238;
  margin: 20px;
  border-radius: 10px;
  /* border-color:  #008238; */
  /* border-bottom: 10px; */
  /* border-width: 10px; */
}

.logo {
  max-height: 50px;
  margin-right: 20px;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 15px;
  white-space: nowrap;
}
