.service-box {
  border-radius: 10px;
  background-color: rgba(254, 255, 255, 0.981);
  border: 2px solid #eeeeeeb5 ;
  font-weight: bold;
  text-align: center;
  color: #616c4e;
  padding: 10px;
  height: 65%;
}
#service_text{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #222;
}
.service-container {
  margin: 50px auto;
  /* Center the container horizontally and add top margin */
  border-radius: 10px;
  display: grid;
  grid-template-columns: 20% 20% 40% 20% 20%; /* 40% for the logo boxes, 60% for the center box */
  gap: 10px; /* Add some space between columns */
}


/* .service-box:hover {
  transform: scale(1.15);  This doubles the size 
   If you want the image to grow from the center 
  transform-origin: center;
}  */


.box_image1 {
  font-size: 50px;
}
