/* Base styles for mobile devices */
.service-box {
  border-radius: 10px;
  background-color: rgba(254, 255, 255, 0.981);
  border: 2px solid #eeeeeeb5;
  font-weight: bold;
  text-align: center;
  color: #616c4e;
  padding: 20px; /* Reduced padding for mobile */
  cursor: pointer; /* Add cursor property to change to pointer on hover */
}

.service-container {
  margin: 20px auto; /* Reduced margin for mobile */
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr; /* Single column for mobile */
  gap: 10px; /* Reduced gap for mobile */
}

/* Hover effect for mobile */
.service-box:hover {
  box-shadow: 0 4px 8px rgba(107, 109, 107, 0.746);
}

.box_image1 {
  font-size: 30px; /* Adjusted font size for mobile */
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  /* Adjust styles for screens with a minimum width of 768px */
  .service-box {
    padding: 30px; /* Restore padding for larger screens */
  }

  .service-container {
    grid-template-columns: repeat(4, 1fr); /* Four columns for larger screens */
    margin: 50px auto; /* Restore margin for larger screens */
    gap: 20px; /* Restore gap for larger screens */
  }

  .box_image1 {
    font-size: 50px; /* Restore font size for larger screens */
  }
}
